<label htmlFor="maxCP" class="max-cp">
  <input type="checkbox" id="maxCP" />
  <small>
    Maximum Combat Points
  </small>
</label>
<input type="text" class="input" placeholder="Pokemon or type" />
<div class="loader"></div>
<ul class="suggestions">
  <li>
    <img
      src="http://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png"
      alt=""
    />
    <div class="info">
      <h1><span class="hl">Pika</span>chu</h1>
      <span class="type electric">Electric</span>
      <span class="type normal">Normal</span>
    </div>
  </li>
  <li>
    <img
      src="https://cyndiquil721.files.wordpress.com/2014/02/missingno.png"
      alt=""
    />
    <div class="info">
      <h1 class="no-results">
        No results
      </h1>
    </div>
  </li>
</ul>
