/*
	Nicolas M. Pardo
	30 Days of Javascript
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
    color: #000;
    background: #fff;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
a img {
    border: none;
}
*,
*::after,
*::before {
    box-sizing: border-box;
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -o-transition: 0.5 all ease;
    -ms-transition: 0.5 all ease;
    transition: 0.5 all ease;
    border: none;
}
*:hover,
*::after:hover,
*::before:hover,
*:active,
*::after:active,
*::before:active,
*:focus,
*::after:focus,
*::before:focus {
    -o-transition: 0.5 all ease;
    -ms-transition: 0.5 all ease;
    transition: 0.5 all ease;
    border: none;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    max-width: 100vw;
}
img {
    object-fit: contain;
    max-width: 100%;
}
.type {
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    padding: 0.2em 0.5rem;
    font-size: 0.7rem;
    background: #000;
    border: 1px solid darker(#000, 1.2);
    display: inline-block;
    padding-top: 0.25rem;
}
.type.normal {
    background: #a8a878;
    border: 1px solid darker(#a8a878, 1.2);
}
.type.fire {
    background: #f08030;
    border: 1px solid darker(#f08030, 1.2);
}
.type.fighting {
    background: #c03028;
    border: 1px solid darker(#c03028, 1.2);
}
.type.water {
    background: #6890f0;
    border: 1px solid darker(#6890f0, 1.2);
}
.type.flying {
    background: #a890f0;
    border: 1px solid darker(#a890f0, 1.2);
}
.type.grass {
    background: #78c850;
    border: 1px solid darker(#78c850, 1.2);
}
.type.poison {
    background: #a040a0;
    border: 1px solid darker(#a040a0, 1.2);
}
.type.electric {
    background: #f8d030;
    border: 1px solid darker(#f8d030, 1.2);
}
.type.ground {
    background: #e0c068;
    border: 1px solid darker(#e0c068, 1.2);
}
.type.psychic {
    background: #f85888;
    border: 1px solid darker(#f85888, 1.2);
}
.type.rock {
    background: #b8a038;
    border: 1px solid darker(#b8a038, 1.2);
}
.type.ice {
    background: #98d8d8;
    border: 1px solid darker(#98d8d8, 1.2);
}
.type.bug {
    background: #a8b820;
    border: 1px solid darker(#a8b820, 1.2);
}
.type.dragon {
    background: #7038f8;
    border: 1px solid darker(#7038f8, 1.2);
}
.type.ghost {
    background: #705898;
    border: 1px solid darker(#705898, 1.2);
}
.type.dark {
    background: #705848;
    border: 1px solid darker(#705848, 1.2);
}
.type.steel {
    background: #b8b8d0;
    border: 1px solid darker(#b8b8d0, 1.2);
}
.type.fairy {
    background: #ee99ac;
    border: 1px solid darker(#ee99ac, 1.2);
}
body {
    max-width: 50%;
    max-width: 9rem;
    min-width: 400px;
    margin: auto;
    background: transparent;
    text-align: center;
    overflow: hidden;
}
html {
    background: url('./bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: 60% center;
}
input {
    padding: 0.6rem 2rem 1.4rem 2rem;
    font-size: 1.5rem;
    margin: auto;
    margin-top: 1rem;
}
.suggestions {
    width: 80%;
    margin: auto;
    margin-top: -1rem;
    background: #2c2c2c;
    color: #fff;
}
.suggestions li {
    border-bottom: 1px solid #808080;
    display: flex;
    max-height: 7rem;
}
.suggestions li img {
    width: 25%;
    margin: 1rem 1.5rem;
}
.suggestions li .info {
    width: 75%;
    padding-right: 10%;
}
.suggestions li .info h1 {
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
}
.suggestions li:last-of-type {
    border-bottom: 0;
}
.hl {
    background-color: #845d0d;
}
.max-cp {
    display: block;
    padding-left: 1.5rem;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 600;
}
.max-cp input {
    margin-right: 0.5rem;
}

.max-cp small {
    display: inline-block;
    font-size: 0.8rem;
}

.loader {
    display: block;
    height: 20px;
    width: 20px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    top: 63px;
    right: 0;
    animation: rotate 1s infinite forwards;
}

.loader::after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #3e3e3e;
    position: absolute;
    top: 4px;
    left: -3px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.no-results {
    padding-top: 0.8rem;
}
